################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Core/v15/Server/sqlite3
/.vs/Core/v15/.suo
